/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: rgb(28, 15, 20);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
#predictor-box{
    height: 200px;
    width:200px;
    background-color: rgb(180, 185, 191);
    border: 10px solid rgb(35, 129, 223);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    font-weight: bolder;
    color: rgb(28, 27, 27);
}
#predict-btn{
    padding: 15px;
    border-radius: 20px;
    background-color: aquamarine;
    border: 2px solid black;
}
